* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.banner {
  width: 1000px;
  height: 390px;
  display: block;
  margin: 50px auto 0;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .banner {
    width: 750px;
    height: 375px;
  }
}

@media (max-width: 787px) {
  .banner {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 640px) {
  .banner {
    width: 500px;
    height: 250px;
  }
}

@media (max-width: 512px) {
  .banner {
    width: 350px;
    height: 190px;
  }
}
